<form class="form-inline" *ngIf="!authService.getUser()">

    <div class="form-group">
        <label for="">User: (type <em>user</em>)</label>
        <input class="form-control" type="text" name="username" #username>
    </div>

    <div class="form-group">
        <label for="">User:</label>
        <input class="form-control" type="password" name="password" #password>
    </div>

    <a class="btn btn-primary" (click)="login(username.value, password.value)">Entrar</a> {{mensajeError}}
</form>

<a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()">Salir</a>